<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NFLnotreally</title>
  </head>
  <body>
    <h1>NFLnotreally</h1>
    <h3><a href="/leaderboard">Check out the current rankings!</a></h3>
  </body>
</html>